<footer>
    <div class="footer">
        <div>
            <br>
            <br>
            <div class="social">
                <i class="fa fa-brands fa-vk cursor-active animated-hover"></i>
                <i class="fa fa-brands fa-telegram cursor-active animated-hover"></i>
                <i class="fa fa-brands fa-twitter cursor-active animated-hover"></i>
            </div>
            <div class="f-left resources">Ресурсы</div>
            <div class="f-menu">
                <div class="f-left">
                    <div class="f-button cursor-active animated-hover">Поддержка авторов</div>
                    <div class="f-button cursor-active animated-hover">Опубликовать на Epic Games</div>
                    <div class="f-button cursor-active animated-hover">Вакансии</div>
                    <div class="f-button cursor-active animated-hover">Компания</div>
                </div>
                <div class="f-left">
                    <div class="f-button cursor-active animated-hover">Правила для неофициальных материалов</div>
                    <div class="f-button cursor-active animated-hover">Исследование пользовательского опыта</div>
                    <div class="f-button cursor-active animated-hover">Лицензионное соглашение с конечным пользователем магазина</div>
                </div>
                <div class="f-left">
                    <div class="f-button cursor-active animated-hover">Сетевые службы</div>
                    <div class="f-button cursor-active animated-hover">Правила сообщества</div>
                    <div class="f-button cursor-active animated-hover">Epic Newsroom</div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="f-left resources">Создатель: Epic Games</div>
            <div class="f-menu">
                <div class="f-left">
                    <div class="f-button cursor-active animated-hover">Battle breakers</div>
                    <div class="f-button cursor-active animated-hover">Fornite</div>
                    <div class="f-button cursor-active animated-hover">Infinity blade</div>
                </div>
                <div class="f-left">
                    <div class="f-button cursor-active animated-hover">Robo Recall</div>
                    <div class="f-button cursor-active animated-hover">Shadow Complex</div>
                    <div class="f-button cursor-active animated-hover">Unreal Tournament</div>
                </div>
            </div>
        </div>
        <hr color="#494949" size="0.1" width="93%">
        <p class="f-paragraph">© 2022, Epic Games, Inc. Все права сохранены. Epic, Epic Games, логотип Epic Games, Fortnite, логотип Fortnite, Unreal, Unreal Engine, логотип Unreal Engine, Unreal Tournament и логотип Unreal Tournament являются товарными знаками или зарегистрированными товарными знаками Epic Games, Inc. в США и во всём остальном мире. Все прочие марки и наименования продукции являются товарными знаками соответствующих владельцев. Финансовые операции за пределами США проводятся через Epic Games International, S.à r.l.   </p>
        <div class="rules">
            <div class="f-left">
                <div class="f-button cursor-active animated-hover">Условия предоставления услуг</div>
                <div class="f-button policy cursor-active animated-hover">Политика конфиденциальности</div>
                <div class="f-button policy cursor-active animated-hover">Правила возврата магазина</div>
            </div>
            <div class="footer-icons cursor-active">
                <div><img src="assets/images/icons.PNG" alt="icons"></div>
            </div>
        </div>
    </div>
</footer>