.content {
    background-color: #121212;
    width: 80%;
    color: white;
    margin: auto;
    padding-bottom: 100px;
}

.content-head {
    display: flex;
    justify-content: space-between;
    color: #494949;
    margin: 20px;
    font-weight: 600;
}

.ch-l, .ch-r {
    display: flex;
    margin: 10px;
    align-items: center;
}

.h-menu {
    padding-left: 20px;
    font-size: 16px;
}

.h-menu:hover {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #494949;
}
a:hover {
    color: #FFFFFF;
}

.search {
    background-color: #202020; 
    border-radius: 3px; 
    height: 20px; 
    width: 220px;
    padding: 10px;
    border-radius: 24px;
    box-shadow: 0 5px 10px 1px #202020;
}

.search > i {
    color: #FFFFFF;
}

.search > input {
  padding-left: 10px;
  color: #FFFFFF;
  background: none;
  border: 0;
}

.search > input:focus {
  outline: none;
}

#search-history-dropdown {
    position: absolute;
    background-color: #202020;
    color: #FFFFFF;
    width: 300px;
    margin-top: 20px;
    border-radius: 8px;
    z-index: 1;
}

.search-option {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.search-option > i {
    z-index: 2;
}

.fa-xmark {
    color: #B8B8B8;
}
.fa-xmark:hover {
    color: #FFFFFF;
}

.badge {
    color: rgb(28, 28, 28);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    background: rgb(245, 245, 245);
    border-radius: 15px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    width: 29px;
    text-align: center;
    margin-left: 7px;
    animation: 250ms badge-appear forwards;
}

@keyframes badge-appear {
    0% {
      width: 0;
    }
    100% {
      width: 29px;
    }
  }
