<div class="content">
  <div class="content-head">
      <div class="ch-l">
          <div class="search">
              <i class="fa-solid fa-magnifying-glass cursor-active"></i>
              <input 
                type="search" 
                placeholder="Искать в магазине" 
                (focus)="onFocus($event)"
                (focusout)="onFocusOut($event)"
                (keypress)="onKeypress($event)"
                [(ngModel)]="searchQuery" >
              <div id="search-history-dropdown" *ngIf="showSearchHistory">
                <div *ngFor="let option of searchHistory.slice(0, 10); index as i" 
                  [attr.data-option-index]="i" 
                  class='search-option cursor-active'
                  (mousedown)="chooseSearchOption($event, option)"
                >
                    <div>{{ option }}</div>
                    <i class="fa fa-solid fa-xmark animated-hover" (mousedown)="deleteSearchOption($event, i)"></i>
                </div>
              </div>
          </div>
          <div class="h-menu cursor-active">
            <a class="animated-hover" routerLink="/">Главное</a>
          </div>
          <div class="h-menu animated-hover cursor-active">Все игры</div>
          <div class="h-menu animated-hover cursor-active">Новости</div>
      </div>
      <div class="ch-r cursor-active">
          <div class="h-menu animated-hover">Список желаемого</div>
          <a routerLink="/cart" class="h-menu animated-hover">Корзина</a>
          <ng-container *ngIf="cartCount$ | async; let cartCount">
            <div *ngIf="cartCount > 0" class="badge">{{ cartCount }}</div>
          </ng-container>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
