img {
  border-radius: 10px;
}

.fa-trash {
  position: absolute;
  top: 5%;
  left: 105%;
  color: #494949;
  font-size: 20px;
  display: block;
}

.fa-trash:hover {
  color: #FFF;
}

.game-type {
  color: #B8B8B8;
  font-size: 12px;
  font-weight: 700;
}

.discount {
  background-color: #0078F2;
  padding: 2px 5px;
  border-radius: 3px;
}

.price-old {
  text-decoration: line-through;
  margin: 0 7px;
}

.game-container {
  position: relative;
}