<div class="container">
  <h1>О КОМПАНИИ</h1>
  <hr>
  <h2>Штаб-квартира корпорации</h2>
  <h2>Кэри, Северная Каролина</h2>
  <div>
    Epic Games основана в 1991 году, на счету компании игровые серии Fortnite, 
    Unreal, Gears of War, Shadow Complex и Infinity Blade. Технология Unreal Engine 
    от Epic обеспечивает высочайший уровень и качество интерактивных развлечений на ПК, 
    консолях, мобильных платформах, устройствах виртуальной и дополненной реальности, 
    а также в веб-приложениях. Unreal Engine бесплатно доступен по адресу 
    <a href="http://www.unrealengine.com">unrealengine.com</a>. 
    За новостями студии можно следить здесь: <a href="https://twitter.com/epicgames">@EpicGames</a>.
  </div>
  <h1>КОНТАКТЫ</h1>
  <hr>
  <h4>Вас интересуют карьерные возможности в Epic?</h4>
  <div>
    Нам нужны новые сотрудники! Посетите страницу 
    <a href="https://www.epicgames.com/site/careers">вакансий Epic Games</a>.
  </div>
  <h4>Хотите использовать технологию Unreal Engine?</h4>
  <div>
    Загрузите <a href="https://unrealengine.com/">Unreal Engine 4</a> бесплатно. Свяжитесь с нами по 
    вопросам условий <a href="https://www.unrealengine.com/custom-licensing">лицензирования</a>.
  </div>
  <h4>Вам нужна помощь с Fortnite или вашей учетной записью Epic Games?</h4>
  <div>Пожалуйста, обратитесь в <a href="http://fortnitehelp.epicgames.com/">наш центр поддержки</a>.</div>
  <h4>Epic Games, Inc.</h4>
  <div>620 Crossroads Blvd.</div>
  <div>Cary, NC USA</div>
  <div>Тел: +1 919 854 0070</div>
  <h1>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h1>
  <hr>
  <h4>Могу ли я лично посетить студию?</h4>
  <div>
    Как правило, мы не устраиваем экскурсии по студии. Мы были бы рады помочь всем желающим 
    как можно больше узнать об Epic, но все же нашей главной задачей остается создание оптимальных 
    рабочих условий для всех наших сотрудников — ведь только сосредоточившись на работе, они могут и 
    дальше создавать замечательные игры и передовые технологии.
  </div>
  <h4>Есть ли в Epic открытые вакансии?</h4>
  <div>
    Да! Все текущие вакансии будут публиковаться на 
    <a href="https://www.epicgames.com/site/careers">нашем портале по вопросам карьеры</a>. 
    После регистрации вы сможете подать заявление на одну из открытых позиций или оставить свое резюме. 
    Чтобы узнать больше о преимуществах работы в Epic, посетите 
    <a href="https://www.epicgames.com/site/careers">страницу по вопросам карьеры</a>.
  </div>
  <h4>Есть ли у вас программа стажировки?</h4>
  <div>
    Все предложения по работе на лето и стажировкам будут публиковаться на 
    <a href="https://www.epicgames.com/site/careers">нашем портале по вопросам карьеры</a>.
  </div>
  <h4>У меня возникли трудности с игрой. Куда мне обратиться за поддержкой?</h4>
  <div>
    По вопросам технической поддержки для всех наших текущих продуктов вы можете обращаться
    по адресу <a href="https://help.epicgames.com">help.epicgames.com</a>. 
    Если у вас вопрос по классическим играм серии Unreal, можете 
    обратиться по адресу <a href="http://help.unrealtournament.com">help.unrealtournament.com</a>.
  </div>
  <h4>А что насчет Gears of War?</h4>
  <div>
    Корпорация Майкрософт выкупила права на Gears of War у Epic Games, и теперь вся франшиза принадлежит ей. 
    Если у вас возникли вопросы по играм 
    <a href="https://gearsofwar.com">серии Gears of War</a>, 
    свяжитесь <a href="https://support.xbox.com" target="_blank">со службой поддержки Xbox</a>.
  </div>
  <h4>
    Мы профессионально занимаемся музыкой/графикой/захватом движений/тестированием/вопросами монетизации. 
    Мы хотим предложить наши товары и услуги Epic. К кому нам обратиться?
  </h4>
  <div>
    Мы создаем свои игры собственными силами и прибегаем к услугам только проверенных специалистов и команд, 
    с которыми у нас уже давно устоявшиеся отношения. В данный момент мы не ищем новых подрядчиков.
  </div>
  <h4>Могу ли я сделать фанатский сайт по одной из ваших игр?</h4>
  <div>
    Мы будем только рады! Однако мы просим вас следовать нашим 
    <a href="https://www.epicgames.com/site/en-US/fan-art-policy">правилам для неофициальных сайтов и материалов</a>.
  </div>
  <h4>У меня есть отличная идея для вашей будущей игры. Мы могли бы это обсудить?</h4>
  <div>
    Мы не можем принимать подробные обращения. Пожалуйста, не присылайте нам свои идеи, сюжеты, рисунки, уровни, 
    музыку и так далее. Мы не имеем юридического права оценивать их.
  </div>
  <h4>Где я могу найти ваши игры?</h4>
  <div>
    Наши игры и многое другое можно загрузить совершенно бесплатно. Кнопка загрузки для программы 
    запуска Epic Games находится на этой странице в правом верхнем углу. Наши классические игры вроде 
    Unreal Tournament 3 Black, Unreal Tournament 2004 ECE, Unreal Tournament GOTY и The Unreal Deal Pack 
    также доступны в <a href="https://store.steampowered.com/">Steam</a>.
  </div>
  <h4>Могу ли я монетизировать видеоролики с записью моего прохождения ваших игр?</h4>
  <div>Да, мы ничего не имеем против.</div>
  <h4>Согласится ли Epic Games спонсировать мой клан в предстоящем турнире?</h4>
  <div>В данный момент мы не предлагаем спонсорскую поддержку участникам игровых соревнований и турниров.</div>
  <h4>Есть ли у Epic Games программа стипендий?</h4>
  <div>В данный момент мы не предлагаем стипендий.</div>
  <h4>Я студент и я пишу научную работу по индустрии видеоигр. Могу ли я взять интервью у кого-то из разработчиков?</h4>
  <div>
    Нам очень приятно, что вы хотите пообщаться с нашими разработчиками. Но из-за большого количества обращений 
    мы, как правило, вынуждены отказывать студентам в подобных интервью. Однако вы можете использовать любые интервью 
    с нашими сотрудниками, опубликованные за годы существования студии.
  </div>
  <h4>
    Моя компания хочет создать фильм/книгу/песню/саундтрек/сувенирную продукцию/телепрограмму/комикс на основе вашей игры. 
    Мы могли бы это обсудить?
  </h4>
  <div>
    Спасибо за проявленный интерес. В данный момент мы не ищем новых лицензионных партнеров, 
    однако вам следует ознакомиться с нашими 
    <a href="https://www.epicgames.com/fan-art-policy">правилами для неофициальных сайтов и работ фанатов</a>.
  </div>
</div>