<header>
    <div class="head">
        <div class="h-l cursor-active">
            <a routerLink="/"><img src="assets/images/logo.PNG" height="56"/></a>
            <div class="menu-item dropdown-container">
                <div>
                    <a class="animated-hover" routerLink="/">МАГАЗИН</a>
                </div>
                <div class="dropdown-content">
                    <div>
                        <a routerLink="/popular" class="animated-hover" href="#">ПОПУЛЯРНОЕ</a>
                    </div>
                    <div>
                        <a routerLink="/free" class="animated-hover" href="#">БЕСПЛАТНО</a>
                    </div>
                </div>
            </div>
            <div class="menu-item animated-hover">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</div>
            <div class="menu-item animated-hover">
                <a routerLink="/about">СПРАВКА</a>
            </div>
            <div class="menu-item animated-hover">UNREAL ENGINE</div>
        </div>
        <div class="h-r cursor-active">
            <img class="menu-icon " src="assets/images/network.PNG" height="34"/>
            <img class="menu-icon" src="assets/images/lk.PNG" height="30"/>
            <div class="menu-item dropdown">
                <div class="account-dropdown animated-hover">Имя Фамилия</div>
                <ul class="account-dropdown-content cursor-active">
                    <li class="animated-hover">УЧЕТНАЯ ЗАПИСЬ</li>
                    <li class="animated-hover">МОИ ДОСТИЖЕНИЯ</li>
                    <li class="animated-hover">АКТИВИРОВАТЬ КОД</li>
                    <li class="animated-hover">КУПОНЫ</li>
                    <li class="animated-hover">СПИСОК ЖЕЛАЕМОГО</li>
                    <li class="animated-hover">ВЫЙТИ</li>
                </ul>
            </div>
            <div class="blue-button cursor-active">ЗАГРУЗИТЬ EPIC GAMES</div>
        </div>
    </div>
</header>